<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="post blog-post col-lg-8"> 
      <app-post-full></app-post-full>
    </main>
    <aside class="col-lg-4">
        <!-- Widget [Search Bar Widget]-->
        <app-search></app-search>
        <!-- Widget [Latest Posts Widget]-->
        <app-latest-posts></app-latest-posts>
        <!-- Widget [Categories Widget]-->
        <app-categories></app-categories>
        <!-- Widget [Tags Cloud Widget]-->
        <app-tags></app-tags>
      </aside>
  </div>
</div>
