<div class="card">
    <div class="avatar"></div>
    <div class="card-body">
      <h5 class="card-title">Author</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-inline">
        <i class="list-inline-item fab fa-facebook-f"></i>
        <i class="list-inline-item fab fa-facebook-f"></i>
        <i class="list-inline-item fab fa-facebook-f"></i>
        <i class="list-inline-item fab fa-facebook-f"></i>

      </ul>
      <!-- InstaWidget -->
      
</div>
