<div class="row" *ngFor="let data of dataArray">
  <!-- post -->
  <div class="post col-xl-6">
    <div class="post-thumbnail">
      <a href="post.html"
        ><img src="{{ data.image }}" alt="..." class="img-fluid"
      /></a>
    </div>
    <div class="post-details">
      <div class="post-meta d-flex justify-content-between">
        <div class="date meta-last">{{ data.date }} | {{ data.year }}</div>
        <div class="category">
          <a href="#">{{ data.location }}</a>
        </div>
      </div>
      <a href="post.html">
        <h3 class="h4">{{ data.titleText }}</h3></a
      >
      <p class="text-muted">{{ data.descriptionText }}</p>
      <footer class="post-footer d-flex align-items-center">
        <a href="#" class="author d-flex align-items-center flex-wrap"></a>
        <div class="date"><i class="far fa-clock"></i>{{ data.timeAgo }}</div>
        <div class="date">
          <i class="fab fa-readme"></i>{{ data.readTime }}mins
        </div>
        <div class="comments meta-last">
          <i class="far fa-comment"></i>{{ data.comments }}
        </div>
      </footer>
    </div>
  </div>
</div>
