.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.pb-1, .py-1 {
    padding-bottom: .25rem!important;
}

.pt-1, .py-1 {
    padding-top: .25rem!important;
}

.nav-scroller .nav {
    margin-top: -1px;
    text-align: center;
}

